body, html{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow: hidden;
    background-color: #333;
    background-image: url(../images/plateau/ground.jpg);
}
.playerContent{
    position:absolute;
    bottom:0;
    height:100px;
    width:580px;
    left:0;
    right:0;
    margin:auto;
    z-index: 999;
}
.card{
    width:125px;
    height:193px;
    background-size:cover;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position:absolute;
    top:100px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.selected{
    -webkit-box-shadow: 0 0 10px 0 rgba(37,154,221,.8);
    box-shadow: 0 0 10px 0 rgba(37,154,221,.5);
}
.preselected{
    -webkit-box-shadow: 0 0 10px 0 rgba(158,221,37,.8);
    box-shadow: 0 0 10px 0 rgba(158,221,37,.5);
}

.plate{
    width:100%;
    height:100%;
    position:relative;
}
.hand{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
}
.centerPlate{
    width:600px;
    height:400px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background-color: #CCC;
    -webkit-border-radius: 800px;
    -moz-border-radius: 800px;
    border-radius: 800px;

    -webkit-box-shadow: 0 0 50px 0 #000;
    box-shadow: 0 0 50px 0 #000;

    border:2px solid #a59017;
    background-color:#EFD807;
    background: #efd807; /* Old browsers */
    background: #efd807; /* Old browsers */
    background: #db9f06; /* Old browsers */
    background: -moz-linear-gradient(top, #db9f06 0%, #332901 50%, #edebd7 51%, #efd807 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db9f06), color-stop(50%,#332901), color-stop(51%,#edebd7), color-stop(100%,#efd807)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #db9f06 0%,#332901 50%,#edebd7 51%,#efd807 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #db9f06 0%,#332901 50%,#edebd7 51%,#efd807 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #db9f06 0%,#332901 50%,#edebd7 51%,#efd807 100%); /* IE10+ */
    background: linear-gradient(to bottom, #db9f06 0%,#332901 50%,#edebd7 51%,#efd807 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db9f06', endColorstr='#efd807',GradientType=0 ); /* IE6-9 */
}
.centerPlateBorder{
    width:595px;
    height:395px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    -webkit-border-radius: 800px;
    -moz-border-radius: 800px;
    border-radius: 800px;
    background-position:center center;

    -webkit-box-shadow:inset 0 0 10px 0 #000;
    box-shadow:inset 0 0 10px 0 #000;
    background-color:#333;
    border:1px solid #a59017;
    background-image:url(../images/plateau/plateau-ground.png);
    background-size:cover;
    background-position:center center;
}
.centerPlateCard{
    width:600px;
    height:400px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.centerBorder{

}
.backCard{
    width:62px;
    height:96px;
    background-size:cover;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position:absolute;
    /*-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);*/
    /*top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;*/
}
.playedCard{
    width:62px;
    height:96px;
    background-size:cover;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position:absolute;
    /*-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);*/
}

.avatar{
    width:50px;
    height:50px;
    position:absolute;
    left:-42px;
    top:26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#000;
    border:3px solid #FFF;
    text-align: center;
}
.status{
    left:64px;
    top:5px;
}
.points{
    left:64px;
    top:35px;
}
.nbCard{
    left:64px;
    top:65px;
}
.pseudo{
    text-align: center;
    left:0;
    right:0;
    margin:auto;
    top:-30px;
    font-size:10px;
    background-color:#FFF;
    font-family: Arial;
}
.info{
    color:#FFF;
    font-size:14px;
    background:#000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height:15px;
    padding:5px;
    position:absolute;
    font-family: "arial";
}


.currentPlayerInfo{
    width:30px;
    height:30px;
    background-size: cover;
    background-image: url(../images/plateau/player.png);
    position:absolute;
    z-index:99;

}
.currentPlayerInfo .attempt{
    position:absolute;
    top:-35px;
    background-color:#000;
    color:#FFF;
    font-size:12px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    height:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}